IDI_ICON1 ICON DISCARDABLE "icon.ico"
1 VERSIONINFO
FILEVERSION 0,4,0,0
PRODUCTVERSION 0,4,0,0
FILEOS 0x4
FILETYPE 0x0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Feeling97"
      VALUE "FileDescription", "t411ClientInstaller"
      VALUE "FileVersion", "0.4"
      VALUE "InternalName", "t411ClientInstaller"
      VALUE "LegalCopyright", ""
      VALUE "OriginalFilename", "t411ClientInstaller.exe"
      VALUE "ProductName", "t411ClientInstaller"
      VALUE "ProductVersion", "0.4"
    END
  END 
  
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x040C, 0x04B0
  END
END
